:root {
    --logotipo: #f2f2f2;
    --profesion: #1a1a1a;
    --primario: #FFCD48; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Bebas Neue', cursive;
	background:#000;
}
a {
    text-decoration: none;
    color: #fff;
    outline: none;
}
/* *===============================* */
/* *========== MAIN ===============* */
/* *===============================* */
main {
	width: 90%;
	margin: auto;
	max-width: 800px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
main {
    justify-content: left;
    padding: 20px 0 0 0;
}
/* *===============================* */
/* *========== ANIMACIÓN ==========* */
/* *===============================* */
.logotipo {
	padding: 10px;
	border: 5px solid var(--logotipo);
	color: var(--logotipo);
}

.logotipo .subtitulo {
	text-align: center;
	color: var(--profesion);
	background: var(--logotipo);
	padding: 12px 20px;
	transition: .5s ease all;
	font-size: 36px;
	font-family: 'Noto Sans', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.logotipo:hover .subtitulo {
	background: var(--primario);
}

.texto-animado {
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.texto-animado > div {
	display: flex;
	flex-direction: column;
	position: relative;
	transition: .3s ease all;
}

.texto-animado > div.animacion {
	transform: translateY(-100px);
}

.texto-animado > div span {
	font-size: 100px;
	font-weight: normal;
	line-height: 100px;
}

.texto-animado .segunda-linea {
	position: absolute;
	top: 100px;
}

@media screen and (max-width: 600px){
	.texto-animado > div span {
		font-size: 50px;
		line-height: 50px;
	}

	.texto-animado .segunda-linea {
		top: 50px;
	}

	.texto-animado > div.animacion {
		transform: translateY(-50px);
	}

	.logotipo .subtitulo {
		font-size: 20px;
	}
}
/* *===============================* */
/* *========== ESTRUCTURAS ========* */
/* *===============================* */

.contenido {
	position: relative;
    
    font-family: 'Exo 2', sans-serif;
    font-size: 130%;
	top: -18em;
}
.contenido p{
    padding: 10px;
    text-align: justify;
}
.box {
    display: flex;
	align-items: center;
    width: 22em;
    height: 13em;
    background: #1a1a1a;
    color: #f2f2f2;
  }

  #one {
    position: relative;
    margin-left: auto;
	margin-right: auto;
  }
  #two {
    position: relative;
	margin-top: 1em;
    margin-left: auto;
	margin-right: auto;
  }
  #tree {
    position: relative;
    margin-top: 1em;
    margin-left: auto;
	margin-right: auto;
  }
  #four {
	position: relative;
	margin-top: 1em;
    margin-left: auto;
	margin-right: auto;
  }
  #five {
	position: relative;
	margin-top: 1em;
    margin-left: auto;
	margin-right: auto;
  }
  #six {
	position: relative;
	margin-top: 1em;
    margin-left: auto;
	margin-right: auto;
	margin-bottom: 5em;
}
/* *===============================* */
/* *========== BOTÓN NEÓN ========* */
/* *===============================* */
.btn-neon{
	position: relative;
	display: inline-block;
	padding: 15px 30px;
	color:#fff;
	letter-spacing: 4px;
	font-size: 24px;
	text-decoration: none;
	overflow: hidden;
	transition: 0.2s;
}
.btn-neon:hover{
	background: #FFCD48;
	box-shadow: 0 0 10px #FFCD48, 0 0 40px #FFCD48, 0 0 80px #FFCD48;
	transition-delay: 1s;
}
.btn-neon span{
	position: absolute;
	display: block;
}
#span1{
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg,transparent,#FFCD48);	
}
.btn-neon:hover #span1{
	left: 100%;
	transition: 1s;
}
#span3{
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg,transparent,#FFCD48);	
}
.btn-neon:hover #span3{
	right: 100%;
	transition: 1s;
	transition-delay: 0.5s;
}
#span2{
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg,transparent,#FFCD48);	
}
.btn-neon:hover #span2{
	top: 100%;
	transition: 1s;
	transition-delay: 0.25s;
}
#span4{
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg,transparent,#FFCD48);	
}
.btn-neon:hover #span4{
	bottom: 100%;
	transition: 1s;
	transition-delay: 0.75s;
}
.btn-neon{
	font-family: consolas;
}
#boton-centrado{
	text-align: center;
}
#boton1 {
	position: relative;
	top: -400px;
}
#boton2 {
	position: relative;
	top: -390px;
}
#boton3 {
	position: relative;
	top: -380px;
}